@tailwind base;
@tailwind components;
@tailwind utilities;

/* ____DESKTOP ___ */
@media screen and (min-width: 1024px) {
  /* _________menu-bottom____________ */
  .hide-laptop {
    display: none;
  }
  .btnGoogle:hover {
    background: black;
  }
  .mega-menu ul {
    padding: 0 5%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
  .modal-history {
    min-width: 80% !important;
  }
  .mega-menu ul li {
    list-style: none;
    cursor: pointer;
    padding: 0 0 15px 0;
  }
  .mega-menu ul a {
    text-decoration: none;
    color: black;
  }
  /* ______show-menu____ */
  .menu-show {
    display: none;
    width: 90%;
    position: absolute;
    top: 20%;
    border-top: 1px solid #ffffff !important;
    border: 1px solid rgb(222, 222, 222);
    left: 111px;
  }
  .show-man {
    display: none;
  }
  .mega-menu ul li:hover .menu-show {
    background-color: #ffffff;
    width: 81%;
    position: absolute;
    margin-top: 10px;
    left: 151px;
    top: 22%;
    display: block;
  }
  .mega-menu ul li:hover .menu-show a {
    color: rgb(0, 0, 0);
  }
  /* chỉnh cái width li là  ni nề */
  .mega-menu ul li:hover .menu-show ul {
    padding: 30px;
    margin: 0;
    display: block;
  }
  .mega-menu ul li:hover .menu-show li a:hover {
    color: rgb(254, 3, 3);
  }
  .flex-menu-show-ul {
    display: flex;
    justify-content: space-between;
  }

  .menu-show-img {
    padding: 15px 20px 15px 10px;
  }

  .menu-show-img img {
    width: 100%;
    height: 300px;
  }

  .nav-site {
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    border-bottom: 1px solid rgba(193, 191, 191, 0.357);
    align-items: center;
    padding: 5px 0;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .fa-house {
    font-size: 10px;
    margin-right: 5px;
  }
  .iconSocial {
    font-size: 13px;
  }
  .hotline {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .nav-site ul {
    gap: 10px;
    justify-content: space-between;
    display: flex;
  }
  .nav-site ul li {
    list-style: none;
  }
  .nav-site ul a {
    /* padding: 0 10px 0 0px; */
    color: var(--site);
    text-decoration: none;
  }
  /* ________________________________________________________________________________ */

  header {
    /* position: sticky; */
    top: 0;
    background-color: #fff;
    z-index: 999;
    transition: 2s;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  /* ________________________________________________________________________________ */
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
  }
  .notice {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .notice i {
    font-size: 22px;
  }
  .notice a {
    font-size: 14px;
    text-decoration: none;
    color: var(--lightBlack);
  }

  /* _________menu-item____________ */
  .header-main {
    /* padding: 10px 0 0 0; */
    /* align-items: center; */
    justify-content: space-between;
    display: flex;
    padding-bottom: 10px;
    gap: 10px;
  }

  .logo {
    align-items: center;
  }
  .logo img {
    width: 300px;
    height: 100px;
    /* width: 200px; */
    object-fit: contain;
  }
  .menu-item {
    display: flex;
    padding-top: 30px;
    gap: 20px;
  }
  .input-item-search {
    z-index: 1;
    position: relative;
    padding-top: 7px;
  }
  .input-item-search input {
    color: #3a393a;
    outline: none;
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    padding: 0px 11px 0 30px;
    width: 420px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(234, 233, 233);
  }
  .icon-search {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 20px;
    color: #b6b2b2;
  }
  .menu-item .k {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 11%;
    color: #aeaeae;
  }
  .fa-magnifying-glass {
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 7%;
    color: #aeaeae;
  }
  .account {
    cursor: pointer;
    align-items: center;
    gap: 20px;
    display: flex;
  }
  .logout {
    display: none;
  }
  #loginAccount {
    display: flex;
  }
  #profile {
    display: none;
  }

  .home-admin {
    font-size: 20px;
    display: none;
    text-decoration: none;
    color: rgb(7, 7, 7);
  }
  .account i {
    cursor: pointer;
    margin-left: 10px;
  }
  .account a {
    cursor: pointer;
    text-decoration: none;
    color: #101010;
  }
  .cart {
    position: relative;
    align-items: center;
    display: flex;
    gap: 12px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
  }

  #length-cart {
    width: 16px;
    height: 16px;
    font-size: 10px;
    top: 14px;
    right: 1px;
    padding: 1px 9px 5px 4px;

    border-radius: 50%;
    background-color: red;
    position: absolute;
    color: white;
  }
  /* _________________________detail _____________ */
  .home-site-tab {
    padding: 10px 0;
  }
  .home-site-tab a {
    font-size: 14px;
    text-decoration: none;
    color: black;
  }
  .card-wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  .card {
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }

  .card-wrapper img {
    cursor: pointer;
    width: 100%;
    display: block;
  }

  .img-display {
    overflow: hidden;
  }
  .img-showcase {
    border-radius: 25px;
    display: flex;
    width: 400px;
    height: 400px;
    transition: all 0.5s ease;
    margin-bottom: 20px;
  }
  .img-showcase img {
    min-width: 100%;
    object-fit: cover;
  }
  .img-select {
    display: flex;
    height: 70px;
  }
  .img-select img {
    object-fit: cover;
    height: 100%;
  }
  .img-item {
    width: 70px;
    height: 70px;
    margin: 6px;
  }
  .img-item:nth-child(1),
  .img-item:nth-child(2),
  .img-item:nth-child(3) {
    margin-right: 0;
  }
  .img-item:hover {
    opacity: 0.8;
  }
  /* ______size-container________ */

  .type {
    display: flex;
    gap: 10px;
  }
  .new {
    background-color: #ff0505;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 3px 6px 0 6px;
  }
  .editon {
    background-color: #000000;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 3px 6px 0 6px;
  }
  .standard-size {
    margin-top: 15px;
    display: grid;
    padding: 0 20px 0 0;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  /* search top */
  .form-search-small {
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 5px 5px 10px #cde8f0;
    transition: 1s;
    font-size: 13px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 3px;
    top: 48px;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 420px;
    overflow: hidden;
    background-color: #ffffff;
  }

  .hiddenForm {
    display: none;
  }
  .item-search {
    width: 100%;
    padding: 5px 0 0 12px;
    align-items: center;
    gap: 13px;
    display: flex;
  }
  .item-search-name {
    padding: 5px;
  }

  .item-search:hover {
    background-color: #f1f1f1;
    transition: 0.6s;
  }

  .item-search img {
    object-fit: cover;
    width: 40px;
  }

  #name-search {
    margin-top: 5px;
    height: 22px;
    overflow: hidden;
    width: 300px;
  }

  #price-search {
    color: red;
    padding-left: 4px;
    font-weight: bold;
    font-size: 11px;
  }

  .card-content {
    padding: 0 30px;
  }
  .card-content p {
    margin: 7px 0;
  }
  .rating {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 7px;
  }
  .rating i {
    color: #f88400;
  }
  .rating p:last-child {
    font-weight: 600;
    font-size: 10px;
    padding: 3px;
    border-radius: 4px;
    background-color: #cdffff;
  }
  .content-ship .name {
    font-weight: bold;
  }
  .content-ship {
    margin-top: 50px;
    border-top: 1px solid rgb(226, 226, 226);
    display: flex;
    font-size: 13px;
    justify-content: space-between;
  }
  .ship {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .card-content .call {
    padding-top: 10px;
    color: red;
    text-align: center;
  }
  .product-shopping {
    max-width: max-content;
    height: 300px;
    font-size: 13px;
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
    width: 200px;
    border-radius: 4px;
  }
  .product-shopping * {
    margin-top: 8px;
  }
  .last-price {
    text-decoration: line-through;
  }
  .new-price {
    font-size: 17px;
    font-weight: bold;
    color: red;
  }
  .store-near {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .quantity {
    gap: 10px;
    align-items: center;
    display: flex;
  }
  .quantity input {
    cursor: pointer;
    padding: 0 0 0 10px;
    border-radius: 3px;
    width: 100px;
    height: 22px;
    border: 1px solid rgb(214, 214, 214);
    outline: none;
  }
  .addCart,
  .buyNow {
    margin-top: 20px;
    padding: 9px 10px;
    background-color: #d72229;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .favorite {
    padding: 5px 5px 10px 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    padding: 0 0 0 45px;
    border-radius: 4px;
    gap: 10px;
  }
  .favorite p {
    margin-bottom: 7px;
  }
  .favorite i {
    font-size: 18px;
    margin-bottom: 5px;
  }
  /* ____________detail____________content____________wrapper ___________________start__*/
  .detail-content-wrapper {
    background-color: #fff;
    border-top: 10px solid #f4f4f4;
  }
  /* ___detail___ */
  .content-wrapper {
    padding: 30px 0;
  }
  .detail-site {
    padding-top: 10px;
    gap: 50px;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    width: 80%;
    border-bottom: 2px solid #f4f4f4;
    border-right: 10px solid #f4f4f4;
  }
  #aDetail {
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    color: black;
    padding: 0 0 10px 0;
  }
  #aComment {
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    color: black;
    padding: 0 0 10px 0;
  }
  .detail-site a:last-child {
    font-size: 24px;
    text-decoration: none;
    color: black;
  }
  .product-atribute {
    padding: 20px;
    width: 70%;
  }
  .product-atribute span {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 20px;
  }
  .product-atribute ul {
    width: 550px;
  }
  .product-atribute ul li {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-atribute ul li:nth-child(2) p {
    color: #00a6ff;
  }
  .product-atribute ul p {
    width: 400px;
  }
  .content-detail-more {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .content-detail-more img {
    object-fit: cover;
    width: 50%;
  }
  .content-detail-more p {
    text-align: justify;
    line-height: 30px;
  }

  /* coment */
  .preview {
    padding: 15px 0;
  }
  .star-wrapper {
    width: 200px;
  }
  .star-wrapper p {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .star-wrapper i {
    font-size: 17px;
    color: rgb(255, 174, 0);
  }
  .comment {
    padding: 25px;
  }
  .comment-header-wrapper {
    overflow: hidden;
    background-color: #f0fbf8;
    height: 146px;
    padding: 20px;
    gap: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .icon-5star-comment {
    display: flex;
    justify-content: space-between;
  }
  .title-comment-warpper {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(6, 1fr);
  }
  .title-item {
    cursor: pointer;
    padding: 8px 6px 5px 6px;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgb(4, 4, 4);
  }
  /* sproduct hot */

  .page-product-content {
    display: flex;
  }
  .page-product-content-left {
    width: 80%;
    border-right: 10px solid #f4f4f4;
  }
  .page-product-content-right {
    position: relative;
    width: 20%;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .page-product-content-right h3 {
    font-size: 17px;
    padding: 0 0 0 10px;
    position: absolute;
    color: #b3b3b3;
    top: -30px;
  }
  .page-product-content-right .item {
    padding: 0 10px 10px 10px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #f4f4f4;
  }
  .page-product-content-right .item img {
    object-fit: cover;
    margin-top: 10px;
    width: 100%;
    height: 192px;
  }
  /* ____feedback__of__customer___ */
  .feedback-customer-wrapper {
    border-top: 1px solid rgb(208, 208, 208);
    display: flex;
    padding-left: 30px;
  }
  .logo-customer {
    padding-top: 10px;
  }
  .circle-logo {
    width: 40px;
    height: 40px;
  }
  .logo-customer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .feedback-product {
    padding: 10px;
    width: 90%;
    padding-left: 10px;
  }
  .feedback-product * {
    margin-top: 5px;
  }

  .star-feedback {
    color: rgb(255, 140, 0);
    font-size: 10px;
  }
  .rating-media-list img,
  video {
    width: 100px;
    height: 70px;
  }
  .feedback-product video {
    object-fit: cover;
  }
  .rating-action {
    display: flex;
    gap: 7px;
  }
  .hide-desktop {
    display: none;
  }
  .container {
    margin: 0 auto;
    width: 80% !important;
  }
  .slider {
    /* display: none; */
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
  }
  .slider img {
    object-fit: cover;
  }
  /* ___________________________________SLIDER___small__________________________________start*/
  .slider-small {
    /* display: none; */
    overflow: hidden;
    width: 570px;
    max-width: 100vw;
    height: 269px;
    margin: auto;
    position: relative;
  }
  .item-small img {
    width: 570px;
    height: 100%;
    object-fit: cover;
  }
  .list-small {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 269px;
    width: max-content;
    transition: 1s;
    /* làm silde mượt hơn */
  }

  /* ___________________________________SLIDER___small__________________________________end*/
  /*___________________________________Brand Form______________________________________end */
  .brands-section {
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .brands-logo {
    height: 269px;
    background-color: #ffffff;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
  }

  .item-logo {
    height: 60px;
  }

  .item-logo img {
    width: 100%;
  }
  /*___________________________________Brand Form______________________________________end */

  .newArrivals,
  .best-seller,
  .deal-fragrant,
  .travel-mini {
    padding-bottom: 20px;
    object-fit: cover;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
  .product {
    background-color: #fcfcfc;
    position: relative;
    cursor: pointer;
    color: rgb(9, 9, 9);
  }

  /* show buy now */
  .buy-now-container {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 200px;
  }
  .buy-now-container button {
    transition: 0.4s;
    padding: 4px 10px;
    position: absolute;
    cursor: pointer;
    left: 29%;
    color: white;
    background-color: #9fe5fa;
    opacity: 0.9;
    bottom: -35px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
  }
  .buy-now-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .product:hover button {
    transform: translate(0, -45px);
    /* // trong đó 0 là tọa độ x và -100px là tọa độ y. */
  }

  .content-product {
    align-items: center;
    text-align: center;
    padding: 10px 5px;
  }
  .price-cart-add {
    padding: 0 0px 10px 50px;
    display: flex;
    gap: 10px;
  }
  .price-cart-add i {
    font-size: 20px;
  }
  /* content product */
  .brand-title-product {
    font-weight: bold;
  }
  .name-product {
    margin: 12px 0 10px 0;
    font-size: 15px;
  }
  .price-product {
    color: red;
    font-weight: bold;
  }
  /* _______home-block-img______ start*/
  .home-banner-block {
    margin-top: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .home-block img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .home-block {
    position: relative;
  }
  .home-block a {
    position: absolute;
    bottom: 40px;
    color: white;
    z-index: 111;
    left: 25px;
    text-decoration: none;
  }
  .home-block i {
    margin: 0 10px;
  }
  .mega-menu ul li:hover .menu-show {
    z-index: 9999;
    background-color: #ffffff;
    width: 81%;
    position: absolute;
    margin-top: 10px;
    left: 151x;
    top: 22%;
    border-radius: 4px;
    display: block;
  }
  /* ___Blog____ start*/
  .blog-container {
    width: 100%;
    background-color: #fff;
  }
  .heading-blog {
    cursor: pointer;
    padding-top: 50px;
    position: relative;
    height: 150px;
    text-align: center;
    border-top: 1px solid #efefef;
  }

  .heading-blog p {
    font-size: 30px;
    font-family: "Lobster";
  }
  .heading-blog p:last-child {
    width: 30px;
    transition: 0.6s;
    height: 2px;
    top: 64%;
    left: 48.5%;
    position: absolute;
    background-color: rgb(0, 221, 255);
  }
  .heading-blog:hover p:last-child {
    width: 60px;
    transition: 0.4s;
    height: 2px;
    top: 64%;
    left: 47%;
    position: absolute;
    background-color: rgb(0, 221, 255);
  }
  /* ___Blog____end */
  /* ___content___blog___ */
  .blog-content {
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .item-blog {
    object-fit: cover;
    width: 350px;
    height: 260px;
  }
  .item-blog p {
    padding: 10px 0;
  }
  .blog-img {
    height: 170px;
  }
  .item-blog img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ___About___*/
  .about-vito {
    background-color: rgb(247, 247, 247);
    padding-bottom: 40px;
  }
  .about-vito h3 {
    text-align: center;
    padding: 50px 20px 50px 80px;
  }
  .about-info {
    display: flex;
    justify-content: space-around;
  }
  .about-info a {
    text-decoration: none;
    color: black;
  }
  .item-about {
    text-align: center;
  }
  .item-about i {
    padding-top: 20px;
    padding-left: 1px;
    color: black;
    text-decoration: none;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #fff;
  }
  .item-about p {
    font-size: 12px;
    padding: 10px;
  }
  /*____ info___outsite*/
  .for-you {
    background-color: #fff;
  }
  .forYou-container {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
  }
  .forYou-container a p {
    padding-top: 20px;
  }
  .forYou-container a {
    text-decoration: none;
    color: black;
  }
  /* ________ MALE _______________________ */
  .main-content {
    display: flex;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .all-products {
    width: 85%;
  }

  /* left */
  .brands {
    width: 15%;
  }
  .brands h4 {
    padding: 1px 0 15px 0;
  }
  .left-wrapper {
    padding: 10px 0;
  }
  .all-brands {
    overflow-y: auto;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
  }
  .brand-left {
    border-bottom: 1px solid rgb(246, 244, 244);
  }
  .site-breakcrumb {
    padding: 15px 0 10px 0;
    font-size: 12px;
    display: flex;
    gap: 5px;
  }

  .site-breakcrumb a {
    text-decoration: none;
    color: rgb(169, 169, 169);
    font-weight: 550;
  }
  .site-breakcrumb a:hover {
    color: rgb(0, 0, 0);
  }
  .all-brands::-webkit-scrollbar {
    background-color: rgb(221, 221, 221);
    width: 3px;
  }
  .all-brands::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(0, 0, 0);
    height: 5px;
  }

  .all-brands ul li {
    list-style: none;
    padding: 3px 0;
  }
  .all-brands a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
  }
  .all-brands input {
    border: 1px solid rgb(224, 224, 224);
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  /* right */
  .result-info {
    align-items: center;

    border-bottom: 1px solid rgb(228, 227, 227);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .info-left {
    gap: 10px;
    display: flex;
    font-weight: bold;
  }

  .info-right {
    align-items: center;

    gap: 10px;
    display: flex;
  }
  .info-right select {
    padding: 2px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(200, 199, 199);
  }

  .product-content-main {
    padding-top: 20px;
    padding-bottom: 20px;
    object-fit: cover;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
  .product {
    background-color: #fcfcfc;
    position: relative;
    cursor: pointer;
    color: rgb(9, 9, 9);
  }
  .product img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* show buy now */
  .buy-now-container {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 212px;
  }
  .buy-now-container button {
    transition: 0.4s;
    padding: 4px 10px;
    position: absolute;
    cursor: pointer;
    left: 29%;
    color: white;
    background-color: #9fe5fa;
    opacity: 0.9;
    bottom: -35px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
  }
  .product:hover button {
    transform: translate(0, -45px);
    /* // trong đó 0 là tọa độ x và -100px là tọa độ y. */
  }

  .content-product {
    align-items: center;
    text-align: center;
    padding: 10px 5px;
  }
  .price-cart-add {
    padding: 0 0px 10px 40px;
    display: flex;
    gap: 10px;
  }
  .price-cart-add i {
    font-size: 20px;
  }
  /* content product */
  .brand-title-product {
    font-weight: bold;
  }
  .name-product {
    margin: 2px 0 10px 0;
    font-size: 14px;
  }
  .price-product {
    color: red;
    font-weight: bold;
  }

  /* main */
  .cart-pay-wrapper {
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }

  .cart-oder-left {
    width: 70%;
  }
  #error-no-user {
    color: rgb(0, 225, 246);
  }
  .cart-item {
    padding: 10px 0;
    border-top: 1px solid rgb(193, 193, 193);
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(193, 193, 193);
  }
  .cart-order {
    padding: 10px 0;
  }
  .cart-heading h2 {
    background-color: #fff;
    padding: 5px 40px;
  }
  .cart-item-flex {
    background-color: #fff;
    padding: 10px 40px;

    display: flex;
    justify-content: space-between;
  }
  .cart-item-flex a {
    cursor: pointer;
    font-size: 14px;
    color: black;
    text-decoration: none;
  }
  .cart-item input {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .cart-item img {
    width: 100px;
    height: 100px;
  }
  .delete-order-icon {
    font-size: 25px;
    cursor: pointer;
    padding-right: 20px;
    color: #f20000;
  }
  .item-img-info {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .quantity-parent {
    display: flex;
  }
  .quantity-parent button {
    width: 30px;
    background-color: #fff;
    height: 30px;
    border: 1px solid rgb(243, 243, 243);
    cursor: pointer;
  }
  .quantity-parent input {
    width: 50px;
    outline: none;
    padding-left: 15px;
    border: 1px solid rgb(243, 243, 243);

    height: 30px;
  }
  .cart-oder-right {
    width: 26%;
  }
  .pay {
    padding-bottom: 40px;
  }
  .pay * {
    margin-top: 10px;
  }
  .field-discount {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
  }
  .discount-show {
    display: flex !important;
    justify-content: space-between;
  }
  #discount-show {
    display: none;
  }
  #discount-show button:hover {
    background-color: #000000;
    transition: 1s;
  }
  .discount-show input {
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid rgb(194, 194, 194);
    height: 35px;
    outline: 1px;
  }
  .discount-show button {
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #c3c3c3;
    cursor: pointer;
  }
  .transport {
    display: flex;
    justify-content: space-between;
  }
  .price {
    font-weight: bold;
    color: red;
  }

  .total-price {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
  }
  .pay-tottaly {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    color: white;
    background-color: hsl(0, 97%, 44%);
  }
  .hide-desktop {
    display: none;
  }
  .container {
    margin: 0 auto;
    width: 90% !important;
  }
  .homeIndex {
    cursor: pointer;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
  }
  #historyClick:hover {
    transition: 0.3s;
    color: rgb(255, 4, 4);
  }
  .homeIndex a {
    color: black;
    font-size: 14px;
    text-decoration: none;
  }
  table {
    background-color: #fff;
    margin: 10px auto;
    width: 90%;
    border-collapse: collapse;
  }

  tr {
    border: 1px solid rgb(198, 198, 198);
  }
  th,
  td {
    padding: 15px;
    text-align: center;
  }

  td button {
    font-size: 15px;
    margin: 5px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    color: rgb(126, 126, 126);
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  td button:hover {
    color: black;
  }
  .item-order td:nth-child(6) button {
    color: white;
    background-color: #0ce24c;
  }
  .heading-title {
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  .cart-pay-wrapper {
    padding-bottom: 16%;
    gap: 20px;
  }
  /* ______footer_______ */
  footer {
    color: white;
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
  }
  .container-footer {
    margin: 0 auto;
    width: 85% !important;
  }
  .social-menu {
    align-items: center;
    padding: 20px 50px 10px 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .logo-foot img {
    width: 50%;
  }
  .icon-foot {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  /* info __footer*/
  .info-footer-container {
    display: flex;
    justify-content: space-between;
  }
  footer ul li {
    list-style: none;
    padding: 4px;
    font-size: 12px;
  }
  footer ul li:first-child {
    font-size: 14px;
    font-weight: bold;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
  }
  .email-footer {
    padding: 10px 0;
    display: flex;
  }
  .email-footer input {
    height: 39px;
    padding-left: 10px;
    outline: none;
  }
  .email-footer button {
    font-weight: bold;
    color: white;
    background-color: #f902ec;
    border: none;
    cursor: pointer;
    padding: 2px 10px;
  }

  .moveTop i {
    font-size: 20px;
    color: black;
    position: fixed;
    transition: 0.6s;
    right: 25px;
    bottom: 5%;
  }
  .moveTop i:hover {
    color: #07d3f2;
  }

  /* ______footer_______ */
  footer {
    color: white;
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
  }
  .container-footer {
    margin: 0 auto;
    width: 85% !important;
  }
  .social-menu {
    align-items: center;
    padding: 20px 50px 10px 0;
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .logo-foot img {
    width: 50%;
  }
  .icon-foot {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  /* info __footer*/
  .info-footer-container {
    display: flex;
    justify-content: space-between;
  }
  footer ul li {
    list-style: none;
    padding: 4px;
    font-size: 12px;
  }
  footer ul li:first-child {
    font-size: 14px;
    font-weight: bold;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
  }
  .email-footer {
    padding: 10px 0;
    display: flex;
  }
  .email-footer input {
    height: 39px;
    padding-left: 10px;
    outline: none;
  }
  .email-footer button {
    font-weight: bold;
    color: white;
    background-color: #f902ec;
    border: none;
    cursor: pointer;
    padding: 2px 10px;
  }

  .moveTop {
    font-size: 20px;
    color: black;
    position: fixed;
    transition: 0.6s;
    right: 25px;
    bottom: 7%;
  }
  .moveTop:hover {
    color: #07d3f2;
  }
}
/* ____TABLET ___ */
@media screen and (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
  .moveTop {
    display: none;
  }
  .display-tablet {
    display: inline-block;
  }

  .container {
    margin: 0 auto;
    width: 95% !important;
  }
  .header-main-desk {
    display: flex;
  }
  .cart i {
    font-size: 23px;
  }
  .account {
    font-size: 22px;
    padding-left: 15px;
  }
  .fa-bars {
    cursor: pointer;
    font-size: 26px;
    padding-top: 14px;
  }
  .input-item-search input {
    width: 220px;
  }
  .nav-site {
    display: none;
  }
  .mega-menu ul {
    display: none;
    gap: 5px;
  }

  .slider {
    /* display: none; */
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-width: 100vw;
    height: 520px;
    margin: auto;
    position: relative;
  }
  /* ___________________________________SLIDER___small__________________________________start*/

  .slider-small {
    /* display: none; */
    overflow: hidden;
    width: 570px;
    max-width: 100vw;
    height: 269px;
    margin: auto;
    position: relative;
  }
  .item-small img {
    width: 570px;
    height: 100%;
    object-fit: cover;
  }
  .list-small {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 269px;
    width: max-content;
    transition: 1s;
    /* làm silde mượt hơn */
  }

  /* ___________________________________SLIDER___small__________________________________end*/
  /*___________________________________Brand Form______________________________________end */
  .brands-section {
    display: block;
  }
  .brands-logo {
    margin-top: 20px;
    height: 300px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .item-logo {
    height: 60px;
  }

  .item-logo img {
    width: 100%;
  }
  /*___________________________________Brand Form______________________________________end */

  .newArrivals,
  .best-seller,
  .deal-fragrant,
  .travel-mini {
    padding-bottom: 10px;
    object-fit: cover;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    font-size: 25px;
    text-align: center;
    background-color: #fcfcfc;
    position: relative;
    cursor: pointer;
    color: rgb(9, 9, 9);
  }
  .product img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .input-item-search {
    display: none;
  }
  /* show buy now */
  .buy-now-container {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 250px;
  }
  .buy-now-container button {
    transition: 0.4s;
    padding: 4px 10px;
    position: absolute;
    cursor: pointer;
    left: 39%;
    color: white;
    background-color: #9fe5fa;
    opacity: 0.9;
    bottom: -35px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
  }
  .product:hover button {
    transform: translate(0, -45px);
    /* // trong đó 0 là tọa độ x và -100px là tọa độ y. */
  }

  .content-product {
    align-items: center;
    text-align: center;
    padding: 10px 5px;
  }
  .price-cart-add {
    padding: 0 0px 10px 100px;
    display: flex;
    gap: 15px;
  }
  .price-cart-add i {
    padding-top: 5px;
    font-size: 30px;
  }
  /* content product */
  .brand-title-product {
    font-weight: bold;
  }
  .name-product {
    margin: 5px 0 10px 0;
    font-size: 25px;
  }
  .price-product {
    color: red;
    font-weight: bold;
  }
  /* _______home-block-img______ start*/
  .home-banner-block {
    margin-top: 50px;
    position: relative;
    display: block;
  }
  .home-block img {
    height: 100%;
    width: 100%;
  }
  .home-block {
    width: 90%;
    margin: 10px auto;
    position: relative;
  }
  .home-block a {
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    color: white;
    z-index: 111;
    left: 25px;
    text-decoration: none;
  }
  .home-block i {
    margin: 0 10px;
  }
  /* ______footer_______ */
  footer {
    color: white;
    width: 100%;
    background-color: black;
    padding-bottom: 50px;
  }
  .container-footer {
    margin: 0 auto;
    width: 95% !important;
  }
  .social-menu {
    align-items: center;
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
  .logo-foot img {
    width: 100%;
  }
  .icon-foot {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  /* info __footer*/
  .info-footer-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  footer ul li {
    list-style: none;
    padding: 10px 15px;
  }
  footer ul li:first-child {
    font-size: 14px;
    font-weight: bold;
  }

  footer ul li a {
    color: white;
    font-size: 20px;

    text-decoration: none;
  }
  .email-footer {
    display: flex;
  }
  .email-footer input {
    font-size: 20px;
    height: 50px;
    padding-left: 20px;
    outline: none;
  }
  .email-footer button {
    font-weight: bold;
    color: white;
    background-color: #f902ec;
    border: none;
    cursor: pointer;
    padding: 2px 30px;
  }
}

/* ____MOBILE___ */

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .email-mobile {
    width: 70%;
  }
  .sign-in-mobile {
    margin-left: 0;
  }
  .form-mobile {
    width: 100%;
    padding: 10px;
  }
  .buy-now-container button {
    display: none;
  }
  .container {
    margin: 0 auto;
    width: 100% !important;
  }
  .header-main {
    display: flex;
    gap: 2px;
    position: relative;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo img {
    width: 270px;
  }
  .fa-magnifying-glass {
    display: none;
  }
  .fa-bars {
    padding-bottom: 14px;
  }

  .section-header {
    padding: 10px 40px;
  }
  .newArrivals,
  .best-seller,
  .deal-fragrant,
  .travel-mini {
    padding: 10px 60px;
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .product {
    background-color: #fcfcfc;
    position: relative;
    cursor: pointer;
    color: rgb(9, 9, 9);
  }
  .product img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* show buy now */
  .buy-now-container {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    height: 212px;
  }

  .buy-now-container button {
    transition: 0.4s;
    padding: 4px 10px;
    position: absolute;
    cursor: pointer;
    left: 35%;
    color: white;
    background-color: #9fe5fa;
    opacity: 0.9;
    bottom: -35px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
  }
  .product:hover button {
    transform: translate(0, -45px);
    /* // trong đó 0 là tọa độ x và -100px là tọa độ y. */
  }
  .content-product {
    align-items: center;
    text-align: center;
    padding: 10px 5px;
  }
  .price-cart-add {
    padding: 0 0px 10px 15px;
    display: flex;
    gap: 10px;
  }
  .price-cart-add i {
    padding-top: 10px;
    font-size: 25px;
  }
  /* content product */
  .brand-title-product {
    font-weight: bold;
  }
  .name-product {
    margin: 5px 0 10px 0;
    font-size: 20px;
  }
  .price-product {
    color: red;
    font-weight: bold;
  }
  #length-cart {
    width: 16px;
    height: 16px;
    font-size: 10px;
    top: 38%;
    right: 20%;
    padding: 1px 9px 5px 4px;
    border-radius: 50%;
    background-color: red;

    position: absolute;
    color: white;
  }
  /* _______home-block-img______ start*/
  .home-banner-block {
    padding: 20px;
    position: relative;
    display: block;
  }

  .home-block img {
    height: 100%;
    width: 100%;
  }
  .home-block {
    padding-top: 20px;
    position: relative;
  }
  .home-block a {
    position: absolute;
    bottom: 40px;
    color: white;
    z-index: 111;
    left: 25px;
    text-decoration: none;
  }
  .home-block i {
    margin: 0 10px;
  }
  .mega-menu ul li:hover .menu-show {
    background-color: #ffffff;
    width: 81%;
    position: absolute;
    margin-top: 10px;
    left: 151px;
    top: 22%;
    border-radius: 4px;
    display: block;
  }
  /* ______footer_______ */
  footer {
    margin-top: 10px;
    color: white;
    width: 100%;
    background-color: black;
  }
  .container-footer {
    margin: 0 auto;
    width: 100%;
  }
  .social-menu {
    padding: 20px;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .logo-foot img {
    width: 100%;
  }
  .icon-foot {
    display: flex;
    gap: 10px;
  }
  /* info __footer*/
  .info-footer-container {
    padding-bottom: 20px;
    padding-left: 40px;
    display: block;
  }
  footer ul {
    padding-top: 20px;
  }
  footer ul li {
    list-style: none;
    padding: 10px;
    font-size: 14px;
  }
  footer ul li:first-child {
    font-size: 14px;
    font-weight: bold;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
  }
  .email-footer {
    display: flex;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .email-footer input {
    height: 39px;
    width: 100%;
    padding-left: 15px;
    outline: none;
  }
  .email-footer button {
    font-weight: bold;
    color: white;
    background-color: #f902ec;
    border: none;
    cursor: pointer;
    padding: 2px 15px;
  }
}
